
/* Adjust spacing for the logo */
.logo {
    font-size: 2rem;
    margin-left: 50px ; /* Adjust left spacing */
    margin-right: 20px; /* Adjust right spacing */
    margin-top: 5px; /* Adjust top spacing */
    margin-bottom: 5px; /* Adjust bottom spacing */
}


/* Style for the advertisement section */
.advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 235px; /* Adjust the height as needed */
    margin: 20px auto; /* Automatically centers the advertisement section */
    padding: 0 20px; /* Adds horizontal padding (gap from left and right sides) */
    max-width: 2400px; /* Restrict the width of the advertisement section (adjust as needed) */
    border-radius: 14px; /* Rounded corners for the advertisement */
    overflow: hidden; /* Ensures the content respects rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a soft shadow around the advertisement */
}

/* Style for the advertisement image */
.advertisement img {
    max-height: 100%;
    max-width: 100%;
    object-fit: fit; /* Maintain aspect ratio */
    border-radius: 90px; /* Ensure the image inside the advertisement section is also rounded */
}

.container {
    max-width: 1200px;
    margin: auto;
}

hr {
    border: 0;
    height: 1px;
    background-color: #030303;
    margin: 15px 0;
}

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }
}

/* Image control options */
img.responsive {
    max-width: 100%;
    height: auto;
}

img.fixed-size {
    width: 100px; /* Example fixed width */
    height: 100px; /* Example fixed height */
}
